a(href='/') HOME
br
a(href='/users/new') CREATE
br
a(href='/users/') SHOW DATA
p All Users
            each user in users
                    p #{user.name} (#{user.email})
                    a.btn.btn-default.btn-info(href="/users/#{user.name}") Edit/Update